
<div class="container">
  <h2>Search parameters</h2>
  <div class="row">
  
  <div class="input-group col-sm">
	  <div class="input-group-prepend">
		<span class="input-group-text" id="basic-addon1">Issue ID</span>
	  </div>
    {{input value=searchIssueId}}
  </div>
  
  <div class="input-group col-sm">
	  <div class="input-group-prepend">
		<span class="input-group-text" id="basic-addon1">Start date</span>
	  </div>
	  <EmberFlatpickr
			@onChange={{action 'setSearchStartDate'}}
		  />
	</div>
	
	  <div class="input-group col-sm">
	  <div class="input-group-prepend">
		<span class="input-group-text" id="basic-addon1">End date</span>
	  </div>
	  <EmberFlatpickr
        @onChange={{action 'setSearchEndDate'}}
      />
	</div>
	
  <div class="col-sm">
    <button type="button" class="btn btn-primary" onclick={{action 'reloadModel'}}>Search</button>
  </div>
</div>
<hr>
  <h2>Issues per column</h2>
  <div class="row">
    {{#each this.model.columns as |col|}}
      <ColumnIssues 
        @columnName={{col.name}} 
        @numberOfIssues={{col.issues}} 
        @titleColorClass="text-primary">
      </ColumnIssues>
    {{/each}}
  </div>
  <hr>

  <h2>Number of pull requests : {{this.model.openPR}}</h2>
  <hr>

  <h2>Number of commits : {{this.model.commits}}</h2>
  <hr>

  <h2>Number of completed issues between {{this.model.startDate}} and {{this.model.endDate}} : {{this.model.completedInterval}}</h2>
  <hr>
  <h2>Process time of issue with id = {{this.model.issueId}} : {{this.model.issueProcessTime}} hours</h2>
  <hr>
  
  <h2>Process time of completed with interval 
  <br/><br/>
  <div style="text-align:center;font-size:12pt;">
	<div style="height: 25px;width: 50px;background-color: #d70206;display:inline-block;"></div><span style="padding: 0px 10px;">Issue 4601</span>
	<div style="height: 25px;width: 50px;background-color: #f05b4f;display:inline-block;"></div><span style="padding: 0px 10px;">Issue 4602</span>
	<div style="height: 25px;width: 50px;background-color: #f4c63d;display:inline-block;"></div><span style="padding: 0px 10px;">Issue 4603</span>
  </div>
  <br/>
  <ChartistChart @type="line" @options={{this.model.chartOptions}} @ratio="ct-golden-section" @updateOnData={{false}} @data={{this.model.chartData}} /></h2>
  <hr>

  <h2>Number of Issues For Each Column between {{this.model.startDate}} and {{this.model.endDate}} : 
  <br/><br/>
  <div style="text-align:center;font-size:12pt;">
	<div style="height: 25px;width: 50px;background-color: #d70206;display:inline-block;"></div><span style="padding: 0px 10px;">To do</span>
	<div style="height: 25px;width: 50px;background-color: #f05b4f;display:inline-block;"></div><span style="padding: 0px 10px;">In progress</span>
	<div style="height: 25px;width: 50px;background-color: #f4c63d;display:inline-block;"></div><span style="padding: 0px 10px;">Review in progress</span>
	<div style="height: 25px;width: 50px;background-color: #453d3f;display:inline-block;"></div><span style="padding: 0px 10px;">Reviewer approved</span>
	<div style="height: 25px;width: 50px;background-color: #453d3f;display:inline-block;"></div><span style="padding: 0px 10px;">Done</span>
  </div>
  <br/>
  <ChartistChart @type="line" @options={{this.model.chartOptions}} @ratio="ct-golden-section" @updateOnData={{false}} @data={{this.model.issuesForEachColumn}} /></h2>
  <hr>
</div>