
<div class="container">
  <h2>Search parameters</h2>
  <div class="row">
  
  <div class="input-group col-sm">
	  <div class="input-group-prepend">
		<span class="input-group-text" id="basic-addon1">Issue ID</span>
	  </div>
    {{input value=searchIssueId}}
  </div>
  
  <div class="input-group col-sm">
	  <div class="input-group-prepend">
		<span class="input-group-text" id="basic-addon1">Start date</span>
	  </div>
	  <EmberFlatpickr
			@onChange={{action 'setSearchStartDate'}}
		  />
	</div>
	
	  <div class="input-group col-sm">
	  <div class="input-group-prepend">
		<span class="input-group-text" id="basic-addon1">End date</span>
	  </div>
	  <EmberFlatpickr
        @onChange={{action 'setSearchEndDate'}}
      />
	</div>
	
  <div class="col-sm">
    <button type="button" class="btn btn-primary" onclick={{action 'reloadModel'}}>Search</button>
  </div>
</div>
<hr>
  <h2>Issues per column</h2>
  <div class="row">
    {{#each this.model.columns as |col|}}
      <ColumnIssues 
        @columnName={{col.name}} 
        @numberOfIssues={{col.issues}} 
        @titleColorClass="text-primary">
      </ColumnIssues>
    {{/each}}
  </div>
  <hr>
  <h2>Process time of issue with id = {{this.model.issueId}} : {{this.model.issueProcessTime}} hours</h2>
  <hr>
  
  <h2>Process time of completed with interval <ChartistChart @type="line" @options={{this.model.chartOptions}} @ratio="ct-golden-section" @updateOnData={{false}} @data={{this.model.chartData}} /></h2>
  <hr>

  <h2>Number of pull requests : {{this.model.openPR}}</h2>
  <hr>

  <h2>Number of commits : {{this.model.commits}}</h2>
  <hr>

  <h2>Number of completed issues between {{this.model.startDate}} and {{this.model.endDate}} : {{this.model.completedInterval}}</h2>
  <hr>

  <h2>Number of Issues For Each Column between {{this.model.startDate}} and {{this.model.endDate}} : <ChartistChart @type="line" @options={{this.model.chartOptions}} @ratio="ct-golden-section" @updateOnData={{false}} @data={{this.model.issuesForEachColumn}} /></h2>
  <hr>

  <h2>State of issues with time interval</h2>
  <div class="row">
    <ColumnIssues @columnName="To do" @numberOfIssues="150" @titleColorClass="text-primary">
    </ColumnIssues>
    <ColumnIssues @columnName="In progress" @numberOfIssues="20" @titleColorClass="text-success">
    </ColumnIssues>
    <ColumnIssues @columnName="Review in progress" @numberOfIssues="15" @titleColorClass="text-info">
    </ColumnIssues>
    <ColumnIssues @columnName="Reviewer approved" @numberOfIssues="3" @titleColorClass="text-secondary">
    </ColumnIssues>
    <ColumnIssues @columnName="Done" @numberOfIssues="3" @titleColorClass="text-warning">
    </ColumnIssues>
  </div>
  <hr>

  <h2>Process time of completed with interval</h2>
</div>